body{
    font-family: 'Poppins', sans-serif; 
}

/* div{
    border: 1px solid red;
} */
.bi-star-fill{
    color: gold;
}
.bi-star-half{
    color: gold;
}
#navbarNav li {
    margin-left: 2em;
}

#testimonal-section{
    background: #f9f9ff;
}