body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(27, 156, 196);
    color: white;
}
/* color al navbar y fuente */

h1{
    color: white;
}
#navbarNav li {
    margin-left: 2em;
    background-color: rgb(27, 156, 196);
}  

.nav-link {
    color: white;
    font-size: small;
    font-weight: 300;
}